/* ANIMATION KEYFRAMES */

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* h3 slidein from left */

.title {
    opacity: 0; 
}

.title-animation.visible {
    animation: slideInFromLeft 1s ease-in forwards;
    opacity: 1; 
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-30%);
    }
    to {
        transform: translateX(0);
    }
}

/* h4 slidein from right */
h4{
    animation: slideInFromRight 1s ease-in forwards;
}
@keyframes slideInFromRight {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(0);
    }
}
/* h5 fadein from top */
h5{
    animation: fadeInFromTop 1s ease-in forwards;
}
@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(20px);
    }
}
/* p  fadein from bottom */
p, a{
    animation: fadeInFromBottom 1s ease-in forwards;
}
@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* end of animation -------------------------------------*/