h1, h2, h3, h4, h5 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 200%;
}

a{
    font-family: "Shippori Mincho", serif;
    font-weight: 100;
}
  /* colors */
:root {
    --primary-color: #1a1a1a;
    --secondary-color:#ffffff;
    --accent1-color: #A2A2A2;
    --accent2-color: #E7A376;
}

html,
body {
    background-color:#1a1a1a;
    margin: 0;
    padding: 0;
}

/* header nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding:30px;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.bigname a{
    text-decoration: none;
}
.homelogo {
    width: 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.homelogo img{
    width: 30%;
    padding: 20px;
    align-items: center;
    border-radius: 15%;
}
.homelogo img:hover{
    background-color: #333;
}
.menunav {
    width: 60%;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.menunav .menu-toggle {
    display: none;
    background-color: #000;
    color:white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.menu-toggle:hover{
    color: #A2A2A2;
}
.menunav .menu-links {
    display: flex;
    flex-direction: row;
}

.menunav a:hover {
    text-decoration: overline;
    color:white;
}

.bigname {
    width: 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menunav a{
    text-decoration: none;
    color:#A2A2A2;
    letter-spacing: 1.2pt;
    padding: 0 30px;
    text-align: center;
}

.bigname h3{
    font-size: 35pt;
    color: #ffffff;
    text-align: center;
}
/* main */
main{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.invite{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-top: 150px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
}
.invite h1{
    padding-bottom: 20px;
    text-align: justify;
}
.invite img{
    width: 100px;
    border-radius: 50%;
}

/* contact form */
.contact-form {
    max-width: 50%;
    width: 100%;
    margin: auto;
    padding: 50px;
    padding-top: 150px;
    background-color:#1a1a1a;
}
.contact-form h2 {
    margin-bottom: 20px;
    color: #ffffff;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #767676;
    letter-spacing: 1pt;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contact-form button {
    color:#ffffff;
    border: 1pt #E7A376 solid;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
}
.contact-form button:hover {
    background-color:#E7A376;
}
/* FOOTER */
.footer {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    background-color: #000;
}

.copyright{
    width: 60%;
    height: auto;
    align-content: center;
    justify-content: center;
    padding: 30px;
    margin:0;
}

.copyrighthere h4{
    font-size: 9pt;
    color: #ffffff;
    padding-left: 20px;
    letter-spacing: 1pt;
    margin:0;
}

.icons img{
    width: 10%;
    padding: 0 20px;
    margin: 0;
}

.nickname{
    width: 40%;
    height: auto;
    align-content: center;
    padding: 0 40px;
}

.nickname a{
    font-size: 30pt;
    color: #ffffff;
    text-align: right;
    text-decoration: none;
}
.nickname a:hover{
    color:#E7A376;
    text-align: right;
    text-decoration: overline;;
}

/* MOBILE + VIEW STARTS HERE-----------------------------*/
@media (max-width: 768px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        padding:10px;
        margin: 0;
    }
    
    .homelogo {
        width: 15%;
    }
    
    .homelogo img{
        width: 80%;
        padding: 5px;
        align-items: center;
    }
   
    .menunav {
        position: relative;
    }
    
    .menunav .menu-toggle {
        display: block;
        font-weight: 700;
        font-size: 18pt;
    }

    .menunav .menu-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menunav .menu-links a {
        padding: 10px 0;
        border-top: 1px solid #333;
    }

    .menunav .menu-links.show {
        display: flex;
    }
    
    .bigname {
        width: 6%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .menunav a{
        font-size: 9pt;
    }
    
    .bigname h3{
        font-size: 14pt;
    }
/* main */
    main{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .invite{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-top: 70px;
        margin: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .invite h1{
        padding-bottom: 20px;
        text-align: center;
        font-size: 18pt;
    }
    .invite img{
        width: 100px;
        border-radius: 50%;
    }

    /* contact form */
    .contact-form {
        max-width: 100%;
        margin: auto;
        padding: 30px 20px;
    }
    .contact-form h2 {
        margin-bottom: 20px;
    }
    .contact-form label {
        display: block;
        margin-bottom: 5px;
    }
    .contact-form input, .contact-form textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .contact-form button {
        font-size: 12px;
    }
    /* footer */
    .footer {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0;
        padding:20px;
        height: auto;
    }
    .copyright{
        width: 75%;
        height: auto;
        align-content: center;
        justify-content: center;
        padding: 0;
        margin:0;
    }

    .copyrighthere h4{
        font-size: 5pt;
        color: #ffffff;
        padding: 0;
        letter-spacing: 1pt;
    }
    .icons img{
        width:15%;
        padding: 5px;
    }

    .icons img:hover{
        background-color:#717171;
        border-radius: 15%;
    }
    .nickname{
        width: 20%;
        height: auto;
        align-content: center;
        padding: 0;
        margin:0;
    }

    .nickname a{
        font-size: 18pt;
        color: #ffffff;
        text-align: right;
        text-decoration: none;;
    }
}

/* IPAD VIEW*/
@media (min-width: 768px) and (max-width: 2160px) and (orientation: landscape){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    header{
        padding:20px;
    }
    
    .homelogo {
        width: 6%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .homelogo img{
        width: 100%;
        padding:10px;
        align-items: center;
    }
    .menunav {
        width: 85%;
        align-items: left;
        display: flex;
        justify-content: space-between;
    }
    
    .menunav .menu-toggle {
        display: none;
        padding: 10px 20px;
        font-size: 16pt;
        border: none;
        cursor: pointer;
    }
    
    .menunav .menu-links {
        display: flex;
        flex-direction: row;
    }
    
    .bigname {
        width: 9%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .bigname a{
        text-decoration: none;
    }
    
    .menunav a{
        text-decoration: none;
        letter-spacing: 1.2pt;
        padding: 0 30px;
        text-align: center;
    }
    
    .bigname h3{
        font-size: 23pt;
        text-align: center;
    }
    /* BODY */
    /* main */
    main{
        display: flex;
        flex-direction: row;
        margin: 30px;
    }
    .invite{
        display: flex;
        flex-direction: column;
        max-width: 40%;
        padding-top: 100px;
        margin: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .invite h1{
        font-size: 20pt;
    }
    .invite img{
        width: 100px;
        border-radius: 50%;
    }

    /* contact form */
    .contact-form {
        max-width: 60%;
        width: 100%;
        margin: auto;
        padding: 20px;
        padding-top: 150px;
    }
    .contact-form h2 {
        margin-bottom: 30px;
    }
    .contact-form label {
        display: block;
        margin-bottom: 5px;
        letter-spacing: 1pt;
    }
    .contact-form input, .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .contact-form button {
        font-size: 14px;
        letter-spacing: 1pt;
    }
    /* FOOTER */
    .footer {
        display: flex;
        max-width: 100%;
        height: auto;
        flex-direction: row;
    }

    .copyright{
        width: 60%;
        height: auto;
        align-content: center;
        justify-content: center;
        padding: 30px;
        margin:0;
    }

    .copyrighthere h4{
        font-size: 9pt;
        color: #ffffff;
        padding-left: 20px;
        letter-spacing: 1pt;
        margin:0;
    }
    .icons img{
        width: 12%;
        padding: 0 10px;
    }

    .nickname{
        width: 40%;
        height: auto;
        align-content: center;
        padding: 0 40px;
    }

    .nickname a{
        font-size: 30pt;
        color: #ffffff;
        text-align: right;
        text-decoration: none;
    }
    .nickname a:hover{
        color:#E7A376;
        text-align: right;
        text-decoration: overline;;
    }
}