h1, h2, h3, h4, h5 {
    font-family:"Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 200%;
}

  /* colors */
:root {
    --primary-color: #1a1a1a;
    --secondary-color:#ffffff;
    --accent1-color: #A2A2A2;
    --accent2-color: #E7A376;
}

html,
body {
    background-color:#1a1a1a;
    margin: 0;
    padding: 0;
}

/* header nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    padding:30px;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
}
.bigname a{
    text-decoration: none;
}
.homelogo {
    width: 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.homelogo img{
    width: 30%;
    padding: 20px;
    align-items: center;
}
.homelogo img:hover{
    background-color: #333;
}
.menunav {
    width: 60%;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.menunav .menu-toggle {
    display: none;
    background-color: #000;
    color: #A2A2A2;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menunav .menu-links {
    display: flex;
    flex-direction: row;
}

.menunav a:hover {
    text-decoration: overline;
    color:#ffffff;
}

.bigname {
    width: 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menunav a{
    text-decoration: none;
    color:#A2A2A2;
    letter-spacing: 1.2pt;
    padding: 0 30px;
    text-align: center;
}

.bigname h3{
    font-size: 35pt;
    color: #ffffff;
    text-align: center;
}

/* MAIN ----------------------------------------*/
/* headerbanner */
.title{
    padding-top: 100px;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.title h4{
    color:#ffffff;
    text-align: left;
    font-size: 25pt;
    padding-left: 100px;
}
.headerimg{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 100px;
    column-gap: 100px;;
    background-color: #000;
}

.imghere{
    width: 60%;
    object-fit: cover;
}
.imghere video{
    width:100%;
}
.texthere{
    width: 40%;
}
.texthere p{
    font-size: 9pt;
    color: #ffffff;
    text-align: justify;
}
/* video banner */
.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    max-width: 100%;
    background-color: #ffffff;
}
.banner img{
    width: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    object-fit: cover;
    aspect-ratio: 6 / 4;
}
.banner p{
    width: 100%;
    font-size: 8pt;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #9b9b9b;
    padding-top: 15px;
    margin:0;
    letter-spacing: 1.5pt;
}
/* Angels Section----------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.angelswindow{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #000;
    margin:0;
    padding: 100px;
}
.angelswindow h4{
    color:#A2A2A2;
    font-size: 30pt;
    padding-bottom:100px
}

.windows {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    column-gap: 100px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.window {
    flex: 1 1 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window img {
    width: 100%;
    aspect-ratio: 4 / 5;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    object-fit: cover;
}
.angelstext p {
    color:#ffffff;
    font-size: 10pt;
    padding-top:50px;
    text-align: justify;
}
.workouts{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 100px;
}
.workouttext h4{
    font-size: 30pt;
    color:#A2A2A2;
    padding-bottom: 100px;
}
.workoutimg{
    display: block;
    flex-direction: row;
    max-width: 100%;

}
.workoutimg img {
    float: left;
    padding-bottom: 50px;
}
.workoutimg1 img {
    float: right;
    padding-bottom: 50px;;
}

/* TRAVEL + NEW PLACES GALLERY */
.newplaces {
    position: relative;
  }
.titleplace h4{
    color: #A2A2A2;
    font-size: 30pt;
    padding-bottom: 50px;
}
  .mockupSlides {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }

  .mockupSlides img{
    aspect-ratio: 10 / 5;
  }
  .left,
  .right {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .right {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .left:hover,
  .right:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 45%;
  }
  .captionhere {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 10pt ;
    background-color: #000;
  }
  .thumbnail:after {
    content: "";
    display: table;
    clear: both;
  }
  .thumbnailshere {
    float: left;
    width: 16.66%;
  }

  .thumbnailshere img{
    aspect-ratio: 6 / 4;
  }
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
.home{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:0;
}

.home h4{
    color: #A2A2A2;
    font-size: 30px;
    padding: 50px 0;
    align-content: center;
}

.home img{
    width: 100%;
    padding: 0;
    margin:0;
  
}
/* FOOTER */
.footer {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    background-color: #000;
}

.copyright{
    width: 60%;
    height: auto;
    align-content: center;
    justify-content: center;
    padding: 30px;
    margin:0;
}

.copyrighthere h4{
    font-size: 9pt;
    color: #ffffff;
    padding-left: 20px;
    letter-spacing: 1pt;
}
.icons img{
    width: 100%;
    padding: 0 20px;
}

.nickname{
    width: 40%;
    height: auto;
    align-content: center;
    padding: 0 40px;
}

.nickname a{
    font-size: 30pt;
    color: #ffffff;
    text-align: right;
    text-decoration: none;;
}
.nickname a:hover{
    color:#E7A376;
    text-align: right;
    text-decoration: overline;;
}
/* ---------------------------------------------- */
/* ANIMATION KEYFRAMES */
/* images slidein from bottom */
img {
    animation: slideInFromBottom 1s ease-in forwards;
}
@keyframes slideInFromBottom {
    from {
        transform: translateY(30%);
    }
    to {
        transform: translateY(0);
    }
}

/* video fadeinfrom right */
video {
    animation: fadeInFromRight 1s ease-in forwards;
}
@keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
/* h3 slidein from left */
h3{
    animation: slideInFromLeft 1s ease-in forwards;
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(-30%);
    }
    to {
        transform: translateX(0);
    }
}
/* h4 slidein from right */
h4{
    animation: slideInFromRight 1s ease-in forwards;
}
@keyframes slideInFromRight {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(0);
    }
}
/* h5 fadein from top */
h5{
    animation: fadeInFromTop 1s ease-in forwards;
}
@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(20px);
    }
}
/* p  fadein from bottom */
p, a{
    animation: fadeInFromBottom 1s ease-in forwards;
}
@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* end of animation ----------------------------------------*/

/* MOBILE VIEW */
@media (max-width: 768px) {
/* header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding:20px;
    margin: 0;
}

.homelogo {
    width: 6%;
}
.homelogo img{
    width: 100%;
    padding: 0;
    align-items: center;
}
.menunav {
    position: relative;
}
.menunav .menu-toggle {
    display: block;
}
.menunav .menu-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
}
.menunav .menu-links a {
    padding: 10px 0;
    border-top: 1px solid #333;
}
.menunav .menu-links.show {
    display: flex;
}
.bigname {
    width: 6%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.menunav a{
    font-size: 9pt;
}
.bigname h3{
    font-size: 14pt;
}
/* main body */
/* headerbanner */
.title{
    padding: 20px;
    padding-right: 50px;;
}
.title h4{
    color:#ffffff;
    text-align: left;
    font-size: 12pt;
    padding-left: 0px;
    letter-spacing: 0.5pt;
}
.headerimg{
    flex-direction: column;
    padding: 0;
}
.imghere{
    width: 100%;
    padding: 0;
}
.imghere video{
    width:100%;
    aspect-ratio: 4 / 2;
}
.texthere{
    width: 100%;
    padding: 0;
}
.texthere p{
    font-size: 8pt;
    color: #ffffff;
    padding: 50px;
}
/* video banner */
.banner {
    padding: 50px;
    max-width: 100%;
}
.banner img{
    width: 100%;
    aspect-ratio: 4 / 4;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    object-fit: cover;
}
.banner p{
    font-size: 6pt;
    text-align: center;
}
/* Angels Section----------------- */
.angelswindow{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:0;
    padding: 50px;
}
.angelswindow h4{
    font-size: 16pt;
    text-align: center;
    padding-bottom:50px;
}
.windows {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    column-gap: 100px;
    height: auto;
}
.window {
    flex: none;
}
.window img {
    width: 70%;
    aspect-ratio: 4 / 4;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    object-fit: cover;
    padding-bottom: 50px;
}
.angelstext p {
    color:#ffffff;
    font-size: 9pt;
    padding-top:20px 50px;
    text-align: justify;
}
.workouts{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 50px;
}
.workouttext h4{
    font-size: 20pt;
    padding-bottom: 50px;
}
.workoutimg{
    flex-direction: column;
    max-width: 100%;
}
.workoutimg img {
    float: left;
}
.workoutimg1 img {
    float: right;
    padding-bottom: 50px;;
}
/* TRAVEL + NEW PLACES GALLERY */
.newplaces {
    position: relative;
}
.titleplace h4{
    font-size: 18pt;
    padding-bottom: 50px;
}
.mockupSlides img{
    aspect-ratio: 10 / 6;
}
.left,
.right {
cursor: pointer;
position: absolute;
top: 35%;
width: auto;
padding: 3px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 10pt;
border-radius: 0 3px 3px 0;
}
.right {
right: 0;
border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
background-color: rgba(0, 0, 0, 0.8);
}
.number {
    display: none;
}
.captionhere {
padding: 20px;
font-size: 8pt;
}
.home{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
}
.home h4{
    font-size: 20pt;
    padding: 50px 0;
    align-content: center;
}
.home img{
    width: 100%;
    padding: 0;
    margin:0;
}
/* FOOTER */
.footer {
    display: flex;
    max-width: 100%;
    height: 40vh;
    flex-direction: row;
    flex: 1;
    margin: 0;
    padding:30px;
    background-color:#000;
}
.copyright{
    width: 60%;
    height: auto;
    align-content: center;
    justify-content: center;
    padding: 0 50px;
}

.copyrighthere h4{
    font-size: 9pt;
    color: #ffffff;
    padding-bottom: 10px;
    letter-spacing: 1pt;
}
.icons img{
    padding: 20px;
}

.icons img:hover{
    background-color:#717171;
    border-radius: 15%;
}

.nickname{
    width: 40%;
    height: auto;
    align-content: center;
    padding: 0 50px;
}

.nickname a{
    font-size: 55pt;
    color: #ffffff;
    text-align: right;
    text-decoration: none;;
}
.nickname a:hover{
    color:#E7A376;
    text-align: right;
    text-decoration: overline;;
}
/* footer */
    .footer {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0;
        padding:20px;
        height: auto;
    }
    .copyright{
        width: 75%;
        height: auto;
        align-content: center;
        justify-content: center;
        padding: 0;
        margin:0;
    }

    .copyrighthere h4{
        font-size: 5pt;
        color: #ffffff;
        padding: 0;
        letter-spacing: 1pt;
    }
    .icons img{
        padding: 2px;
    }

    .icons img:hover{
        background-color:#717171;
        border-radius: 15%;
    }
    .nickname{
        width: 20%;
        height: auto;
        align-content: center;
        padding: 0;
        margin:0;
    }

    .nickname a{
        font-size: 18pt;
        color: #ffffff;
        text-align: right;
        text-decoration: none;;
    }
}